ul.todo-list {
  list-style: none;
}

ul.todo-list>li, .todo-box {
  padding: 10px 15px;
  background-color: black;
  text-align: center;
  margin: 10px;
  font-size: 2rem;
}

.button-col{ 
  margin: 0 auto;
  text-align: center; 
  margin-top: 10px;
}

form {
  align-content: center;
  margin-top: 25px;
  width: 50%;
}
